@model IEnumerable<Biblioteca.Models.BliotecaEnridades.Libros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Autor.NombreAutor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial.NombreEditorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero.NombreGenero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.NombreAutor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial.NombreEditorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero.NombreGenero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LibroID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LibroID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LibroID })
        </td>
    </tr>
}

</table>
